%pseudos {
    content: ''; 
    position: absolute;
  }
  
  @mixin generate-margin-bottom() {
    @each $space in $spaceamounts {
      .mb-#{$space} {
        margin-bottom: #{$space}px;
      }
    }
  }
  @mixin generate-margin-right() {
    @each $space in $spaceamounts {
      .mr-#{$space} {
        margin-right: #{$space}px;
      }
    }
  }
  @mixin generate-margin-top() {
    @each $space in $spaceamounts {
      .mt-#{$space} {
        margin-top: #{$space}px;
      }
    }
  }
  @mixin generate-padding-top() {
    @each $space in $spaceamounts {
      .pt-#{$space} {
        padding-top: #{$space}px;
      }
    }
  }
  @mixin generate-padding-bottom() {
    @each $space in $spaceamounts {
      .pb-#{$space} {
        padding-bottom: #{$space}px;
      }
    }
  }
  
  @include generate-margin-bottom();
  @include generate-margin-right();
  @include generate-margin-top();
  @include generate-padding-bottom();
  @include generate-padding-top();