.carousel {
  margin-bottom: 40px;
  .controls {
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 50%;
    margin-left: -390px;
    margin-bottom: 0;
    width: initial;
    padding-left: initial;
    li {
      display: inline-block;
      background-color: #ffffff;
      margin: 0 70px 0 0;
      width: 215px;
      height: 70px;
      text-align: center;


      text-indent: initial;
      border: none;
      border-radius: 0;
      cursor: pointer;

      &.active {
        a {
          opacity: 0.5;
        }
      }

      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 6px 0;
        font-size: 15px;
        display: block;
        p {
          font-size: 18px;
          margin: 0;
          display: inline-block;
          line-height: 55px;
          .icon {
            font-size: 40px;
            display: inline-block;
            float: left;
            margin-right: 10px;
          }
          strong {
            position: relative;
            margin-top: 10px;
          }
        }


        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }

    }

    @include media("<desktop") {
      margin-left: -185px;
      li {
        margin: 0;
        width: initial;
        padding: 0 10px;
        height: 50px;
        a {
          font-size: 15px;
          display: block;
          margin: 0;
          padding: 0;
          p {
            font-size: 12px;
            .icon {
              font-size: 30px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    @include media("<=tablet") {
      margin-left: -295px;
      li {
        margin: 0 15px;
        padding: 0 10px;
        height: 60px;
        a {
          font-size: 15px;
          display: block;
          margin: 0;
          padding: 0;
          p {
            font-size: 18px;
            .icon {
              font-size: 40px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    @include media("<=phone") {
      margin-left: -180px;
      li {
        margin: 0;
        padding: 0 5px;
        height: 50px;
        a {
          font-size: 15px;
          display: block;
          margin: 0;
          padding: 0;
          p {
            font-size: 14px;
            .icon {
              font-size: 25px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    @include media("<=375px") {
      margin-left: -160px;
      li {
        height: 40px;
        a {
          font-size: 14px;
          p {
            font-size: 12px;
            line-height: 40px;
          }
        }
      }
    }
  }

}
