.footer-site {

  margin-top: 50px;
  background: #609FC6;
  padding: 20px 0;

  .logo_fotter {
    font-size: 17px;
    margin-top: 25px;
    display: inline-block;
  }

  h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: #fff;
      font-size: 15px;
      display: block;
      font-weight: 100;
      a {
        color: #fff;
        font-weight: 100;
      }
    }

    &.social, &.apps {
      li {
        display: inline-block;
      }
      a {
        text-decoration: none;
        font-size: 33px;
        &:hover {
          color: rgba(255, 255, 255, 0.8)
        }
        span {
          display: none;
        }
      }
    }
    
    &.apps {
      li {
        a {
          line-height: 33px;
          font-size: 35px;
          &.icon-google_mono {
            font-size: 37px;
          }
        }
      }
    }
  }

  p{
    font-size: 13px;
    color: #fff;
  }

  
  
  @include media("<=desktop") {
    .logo_fotter {
      font-size: 14px;
      margin-top: 25px;
    }
  }
  
  @include media("<=phone") {
    .logo_fotter {
      font-size: 10px;
      margin-top: 25px;
    }
  }
}