.header-site {
  padding-bottom: 99px;
  
  
  .navbar-default {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 14px 0;
  }
  .navbar-nav {
    margin-top: 5px;
  }
  
  .menu {
    
  
    .icon {
      font-size: 30px;
      color: #146198;
      float: left;
      margin-right: 10px;
    }

    .dropdown .dropdown-menu {
      @include transition(all 0.2s ease-in);   
      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;
      top: 80px;
      border: 0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
      li {
        &:hover {
          background: #f5f5f5;
        }
      }
    }
  
    .dropdown.open .dropdown-menu {
      max-height: 300px;
      opacity: 1;
      a {
        padding: initial;
        padding: 2px 15px;
        margin: 0;
      }
    }

    > li {
      &.ticket {
        a {
          font-size: 17px;
          color: #146198;
        }
      }
      &:hover, &:active, &:focus, &.open {
        > a {
          @include transition(border 0.1s ease-in);
          border-bottom: 2px solid transparent;
          &:hover, &:active, &:focus {
            border-bottom: 2px solid #609FC6;
          }
        }
        &.open {
          > a {
            border-bottom: 2px solid #609FC6;
          }
        }
      }
      a {
        border-bottom: 2px solid transparent;
        font-size: 17px;
        color: #494949;
        padding: 0;
        margin: 15px 15px;
        line-height: 35px;
        background: none !important;

        &:hover, &:focus, &:active {
          outline: none;
        }
      }


      &.login {

        .dropdown-backdrop {
          background: rgba(0,0,0, 0.22);
          top: 70px;
        }
        .icon-user {
          font-size: 30px;
          float: left;
          margin-right: 10px;
        }
        &.dropdown a {
          color: #146198;
        }
        > ul {
          min-width: 310px;
          padding: 15px 15px 0;
          li {
            .form-group {
              margin-bottom: 10px;
              &.pass {
                margin-bottom: 0;
              }
            }
            &:hover {
              background: none !important;
            }
            label {
              font-size: 14px;
              font-weight: normal;
              color: #494949;
            }
            .help-block {
              margin-bottom: 0;
              a {
                font-size: 12px;
                padding: 0 !important;
              }
            }

            .bottom {
              background: rgba(134, 134, 134, 0.1);
              font-size: 14px;
              padding: 5px 20px;
              clear: both;
              a {
                font-size: 14px;
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
  }

  @include media("<=desktop") {
    .menu > li a {
      margin: 15px 10px;
      font-size: 16px;
    }
  }

  @include media("<=tablet") {
    .menu {
      .text {
        display: none;
      }
      .login {

      }
    }
    .text {
      display: none;
    }
    .navbar-toggle {
      float: left;
      margin: 10px 10px 0 15px;
      border: 0;
      .icon-bar {
        background-color: #146198;
        height: 3px;
        width: 30px;
      }
    }
  }

  @include media("<=phone") {
    .navbar-default {
      padding: 10px 5px;
      .navbar-header {
        @include clearfix();
      }

      .menu-mobile {
        > ul {
          list-style: none;
          float: right;
          margin: 3px 10px 0 0;
          li {
            display: inline-block;
            margin: 0 5px;
            .icon {
              font-size: 35px;
            }
            > a {
              float: left;
              margin: 0;
            }
          }
        }
        .dropdown-menu {
          position: fixed;
          left: 0;
          top: 67px;
          width: 100%;
          border-radius: 0;
          padding: 0 4px;
          > li {
            display: block;
          }
        }
      }
      .navbar-collapse {
        max-height: initial;
      }

      .login, .ticket {
        display: none;
      }
      .navbar-brand {
        margin-top: 5px;
        padding: 0 10px 5px;
        height: initial;
        img {
          height: 33px;
        }
      }
    }
  }
}