@font-face {
	font-family: "icons";
	src: url('/fonts/icons.eot');
	src: url('/fonts/icons.eot?#iefix') format('eot'),
		url('/fonts/icons.woff') format('woff'),
		url('/fonts/icons.ttf') format('truetype'),
		url('/fonts/icons.svg#icons') format('svg');
}

@mixin icon-styles {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == apartamento {
		$char: "\E001";
	}
	@if $filename == apple_store_mono {
		$char: "\E002";
	}
	@if $filename == assessoria {
		$char: "\E003";
	}
	@if $filename == bar-code {
		$char: "\E004";
	}
	@if $filename == condominio {
		$char: "\E005";
	}
	@if $filename == contabilidade {
		$char: "\E006";
	}
	@if $filename == facebook {
		$char: "\E007";
	}
	@if $filename == google_mono {
		$char: "\E008";
	}
	@if $filename == instagram {
		$char: "\E009";
	}
	@if $filename == linkedin {
		$char: "\E00A";
	}
	@if $filename == mulher {
		$char: "\E00B";
	}
	@if $filename == twitter {
		$char: "\E00C";
	}
	@if $filename == user {
		$char: "\E00D";
	}
	@if $filename == youtube {
		$char: "\E00E";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-apartamento {
	@include icon(apartamento);
}
.icon-apple_store_mono {
	@include icon(apple_store_mono);
}
.icon-assessoria {
	@include icon(assessoria);
}
.icon-bar-code {
	@include icon(bar-code);
}
.icon-condominio {
	@include icon(condominio);
}
.icon-contabilidade {
	@include icon(contabilidade);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-google_mono {
	@include icon(google_mono);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-mulher {
	@include icon(mulher);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-user {
	@include icon(user);
}
.icon-youtube {
	@include icon(youtube);
}