.modal_ticket {
    .types {
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
        padding: 0;

        
        li {

            display: inline-block;
            border: 1px solid $color-title;
            text-align: center;
            width: 140px;
            border-radius: 5px;
            margin-right: 10px;
            padding: 10px;
            color: $color-title;
            &:last-child {
                margin-right: 0;
            }
            span {
                display: inline-block;
                text-indent: -9999px;
                &.icon-banco {
                    @include sprite($bancos);
                }
                &.icon-cnpj {
                    @include sprite($cnpj);
                }

            }
            p {
                margin-top: 5px;
                margin-bottom: 0;
            }
            &:hover {
                cursor: pointer;
                border-color: green;
                &.active {
                    cursor: default;
                }
            }
            &.active {
                border-color: #126198;
                background: #eff6fa;
            }
        }
    }

    .options {


        margin-top: 40px;
        .banks {
            text-align: center;
        } 
        a {
            display: inline-block;
            text-indent: -99999px;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            &.itau {
                @include sprite($itau);
            }
            &.bradesco {
                @include sprite($bradesco);
            }
            &.santander {
                @include sprite($santander);
            }
            &.caixa {
                @include sprite($caixa);
            }
        }

    }
}