// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bancos-name: 'bancos';
$bancos-x: 0px;
$bancos-y: 0px;
$bancos-offset-x: 0px;
$bancos-offset-y: 0px;
$bancos-width: 64px;
$bancos-height: 60px;
$bancos-total-width: 222px;
$bancos-total-height: 134px;
$bancos-image: '../images/sprite.png';
$bancos: (0px, 0px, 0px, 0px, 64px, 60px, 222px, 134px, '../images/sprite.png', 'bancos', );
$bradesco-name: 'bradesco';
$bradesco-x: 0px;
$bradesco-y: 80px;
$bradesco-offset-x: 0px;
$bradesco-offset-y: -80px;
$bradesco-width: 54px;
$bradesco-height: 54px;
$bradesco-total-width: 222px;
$bradesco-total-height: 134px;
$bradesco-image: '../images/sprite.png';
$bradesco: (0px, 80px, 0px, -80px, 54px, 54px, 222px, 134px, '../images/sprite.png', 'bradesco', );
$caixa-name: 'caixa';
$caixa-x: 74px;
$caixa-y: 80px;
$caixa-offset-x: -74px;
$caixa-offset-y: -80px;
$caixa-width: 54px;
$caixa-height: 54px;
$caixa-total-width: 222px;
$caixa-total-height: 134px;
$caixa-image: '../images/sprite.png';
$caixa: (74px, 80px, -74px, -80px, 54px, 54px, 222px, 134px, '../images/sprite.png', 'caixa', );
$cnpj-name: 'cnpj';
$cnpj-x: 84px;
$cnpj-y: 0px;
$cnpj-offset-x: -84px;
$cnpj-offset-y: 0px;
$cnpj-width: 64px;
$cnpj-height: 60px;
$cnpj-total-width: 222px;
$cnpj-total-height: 134px;
$cnpj-image: '../images/sprite.png';
$cnpj: (84px, 0px, -84px, 0px, 64px, 60px, 222px, 134px, '../images/sprite.png', 'cnpj', );
$itau-name: 'itau';
$itau-x: 168px;
$itau-y: 0px;
$itau-offset-x: -168px;
$itau-offset-y: 0px;
$itau-width: 54px;
$itau-height: 54px;
$itau-total-width: 222px;
$itau-total-height: 134px;
$itau-image: '../images/sprite.png';
$itau: (168px, 0px, -168px, 0px, 54px, 54px, 222px, 134px, '../images/sprite.png', 'itau', );
$santander-name: 'santander';
$santander-x: 168px;
$santander-y: 74px;
$santander-offset-x: -168px;
$santander-offset-y: -74px;
$santander-width: 54px;
$santander-height: 54px;
$santander-total-width: 222px;
$santander-total-height: 134px;
$santander-image: '../images/sprite.png';
$santander: (168px, 74px, -168px, -74px, 54px, 54px, 222px, 134px, '../images/sprite.png', 'santander', );
$spritesheet-width: 222px;
$spritesheet-height: 134px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($bancos, $bradesco, $caixa, $cnpj, $itau, $santander, );
$spritesheet: (222px, 134px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
