.sprite {
    font-size: 16px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/sprite.svg");
      background-repeat: no-repeat;
      background-size: 46.0625em 19.1875em;

      .no-svg & {
        background-image: url("../../images/sprite.png");
      }
    }
}




.sprite.icon_apple-store {
  &:before {
      background-position: 0em 0em;
      width: 3.125em;
      height: 1.1875em;
    }
  }

  @mixin sprite-icon_apple-store(){
    @extend .icon_apple-store;
  }


.sprite.icon_google {
  &:before {
      background-position: -3.125em -1.1875em;
      width: 3.125em;
      height: 1.03125em;
    }
  }

  @mixin sprite-icon_google(){
    @extend .icon_google;
  }


.sprite.logo {
  &:before {
      background-position: -6.25em -2.25em;
      width: 14.875em;
      height: 3.4375em;
    }
  }

  @mixin sprite-logo(){
    @extend .logo;
  }


.sprite.logo_fotter {
  &:before {
      background-position: -21.125em -5.6875em;
      width: 14.875em;
      height: 3.4375em;
    }
  }

  @mixin sprite-logo_fotter(){
    @extend .logo_fotter;
  }


.sprite.nfe {
  &:before {
      background-position: -36em -9.125em;
      width: 10.0625em;
      height: 10.0625em;
    }
  }

  @mixin sprite-nfe(){
    @extend .nfe;
  }



