$icon-font-path: '../../fonts/';
$fa-font-path: '../../fonts/';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import "moraes_custom";
@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/include-media/dist/_include-media.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fontawesome.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-brands.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-regular.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-solid.scss";
// endbower

@import "banner";
@import "./custom/typography";
@import "./custom/modal";
@import "./custom/resets";
@import "./custom/button";
@import "./mixins/margins";
@import "./mixins/helpers";
@import "header";
@import "icons_fonts";
@import "sprite_svg";
@import "sprite";
@import "footer";
@import "modal_boleto";

@import "./custom/navtab";
@import "./custom/breadcrumbs";

@import "./pages/quem_somos";
@import "./pages/services";
@import "./pages/contact";


.sprite {
  font-size: 10px;
  &:before {
    position: relative;
    top: 0;
    left: 0;
  }
  span {
    display: none;
  }
}

.title-boxs {
  margin: 15px 0;
  h3 {
    display: inline-block;
    margin: 0;
  }
  a {
    float: right;
  }
}

h3 {
  margin-bottom: 15px;
}

.box-enf {
  background: url("../images/bg_nfe.png") 0 0 no-repeat;
  padding: 35px 0 0 185px;
  @include clearfix;

  .bt{
    float: right;
    margin-right: 200px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    strong {
      display: block;
    }
  }

  a {
    float: right;
  }
}


.box-proposta {
  background: url("../images/bg_proposta.png") 0 0 no-repeat;
  padding: 35px 55px;
  @include clearfix;
  .bt{
    float: right;
    margin-right: 200px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    width: 70%;
  }
}

.banner-home {
  margin: 40px 0;
}
.banner-home {
  padding: 50px 0 30px 30px;
  min-height: 300px;

  h4 {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }

  p {
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
    span {

    }
  }
  &.banner-trabalhe {
    background: url("../images/bg_trabalhe.png") 40% 0 no-repeat;
    p {
      font-size: 15px;
      width: 60%;
      line-height: 20px;
    }
    a {
      margin-top: 50px;
      margin-left: 120px;
    }
  }

  &.banner-app {
    background: url("../images/bg_app.png") 40% 0 no-repeat;
    color: #000000;

    h5 {
      font-size: 18px;
      }

    a {
      display: inline-block;
    }

  }
}

.box-imovel {
  position: relative;
  a {
    .tag {
      @include transition(all 0.1s ease-in);
      position: absolute;
      background: #126198;
      padding: 5px 10px;
      font-size: 18px;
      color: #fff;
      margin: 10px;
    }
    &:hover {
      .tag {
        background: #609EC5;
      }
    }

  }

  .info {
    p {
      margin: 10px 0;
      strong {
        font-size: 16px;
        display: block;
      }
      font-size: 14px;
    }
  }
}

.box-news {
  p {
    font-size: 18px;
  }
}



// @include media(">tablet") {
//   html, body{ height:100%; margin:0; }
//   body {
//     position: relative;
//   }
// body::after {
//   content: '';
//   display: block;
//   min-height: 160px; /* Set same as footer's height */
// }

// footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   min-height: 160px;
// }
// }

body {
  // background-image: url('../images/home.jpg');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  // webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // height:100%;
  // width:100%;
}

.update {
  margin-top: 30%;
  background: #fff;
  padding: 30px;
  h3 {
    margin-top: 0;
  }
  @include media("<=tablet") {
    margin-top: 10%;

  }
}
