.services {
  margin-top: 30px;
  .service {
    margin: 30px 0;
    .icon {
      @include clearfix();
      i, h4 {
        float: left;
      }
      i {
        color: $color1;
      }
      h4 {
        margin: 20px;
      }
    }
    .info {
      border-top: 1px solid #d1d1d1;
      padding-top: 15px;
      margin-top: 20px;
    }
  }
}
