a {
  @include transition(all 0.2s ease-in);   
}
.btn {
  border-radius: 4px;
  padding: 7px 12px;

  &:hover {
    @include transition(all 0.1s ease-in);   
  }

  &.btn-secondary {
    &:hover {
      background: #fff;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    box-shadow: 0 -2px 0px rgba(0,0,0, 0.2) inset;
    border: 0;
    transition: all 0.1s ease-in;
    &:hover {
      background-color: #126198;
      box-shadow: none;
    }

    &,
    &:active,
    &.active {
      &:focus,
      &.focus {
        background-color: #0F5180;
        box-shadow: none;
      }
    }
  }
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}