.modal {
    .modal-content {
        border-radius: 0;
        .modal-header {
            &.info {
                background: #609FC6;
                h4 {
                    color: #fff;
    
                }
            }
        }
    }
}