.tabs_morais {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-bottom: 0;
    margin-top: 40px;


    &:before, &:after {
      content: none;
    }

    li {
      display: table-cell;
      width: auto;
      float: initial;
      text-align: center;

      &.active, &:hover, &:active, &:focus {
        a {
          &:hover, &:active, &:focus {
            background: #f7f7f7;
            border-color: #f7f7f7;
            color: #494949;
          }
          background: #f7f7f7;
          border-color: #f7f7f7;
          color: #494949 !important;
          .icon {
            color: #494949 !important;
          }
        }
      }
      a {
        border-color: #f7f7f7;
        display: block;
        border-radius: 0;
        font-size: 24px;
        color: #9E9898;
        .icon {
          color: #9E9898;
          font-size: 40px;
          position: relative;
          top: 8px;
          margin-right: 5px;
        }
      }
    }

    &.tab-content {
      padding: 20px;
      margin: 0;
      background: #f7f7f7;

      p {
        font-size: 16px;
        color: #494949;
      }
    }
}